body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: darkgray;
  transform: scale(0.8);
}

.potato {
  display: block;
  width: 290px;
  height: 370px;
  background-color: #cd853f;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: relative;
  &:active .nose, &:active .moustache, &:active .mouth, &:active .foot, &:active .eye, &:active .hat-round {
    transform: translate(-50%, -50%);
  }
  &:active .ear1 {
    left: -18%;
    transform: rotate(288deg);
  }
  &:active .ear2 {
    left: 83%;
    transform: rotate(71deg);
  }  
}

.hoverme {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.hat-round {
  width: 180px;
  height: 90px;
  background-color: black;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-70%, 450%);
  transition: transform ease 1.5s;
  .hat-border {
    height: 40px;
    width: 230px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
  }
}

.eye {
  height: 80px;
  width: 60px;
  background-color: white;
  border-radius: 50px / 60px;
  position: absolute;
  transform: translate(-450%, 410%);
  top: 30%;
  z-index: 2;
  transition: transform ease 1.5s;
  .pupil {
    height: 50px;
    width: 50px;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 58%;
    .catchlight {
      height: 10px;
      width: 10px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 20%;
    }
  }
}

.eye1 {
  left: 35%;
}

.eye2 {
  left: 65%;
}

.nose {
  height: 60px;
  width: 100px;
  background-color: red;
  border-radius: 90px / 60px;
  position: absolute;
  transform: translate(180%, -470%);
  top: 49%;
  left: 50%;
  z-index: 2;
  transition: transform ease 1.5s;
}

.moustache {
  height: 0;
  width: 120px;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid black;
  position: absolute;
  transform: translate(-140%, -645%);
  top: 60%;
  left: 50%;
  z-index: 1;
  transition: transform ease 1.5s;
}

.mouth {
  width: 150px;
  height: 55px;
  background-color: white;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  position: absolute;
  transform: translate(65%, 350%);
  left: 50%;
  top: 73%;
  transition: transform ease 1.5s;
}

.ear {
  height: 50px;
  width: 100px;
  background-color: pink;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  position: absolute;
  transform: translate(410%, 750%);
  z-index: -1;
  transition: transform ease 1.5s;
}

.foot {
  width: 112px;
  height: 70px;
  background-color: blue;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  position: absolute;
  top: 102%;
  transform: translate(-10%, -710%);
  z-index: -1;
  transition: transform ease 1.5s;
}

.foot1 {
  left: 30%;
}

.foot2 {
  left: 70%;
}

.upper {
  height: 20px;
  width: 90px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: -1;
}

.upper1 {
  left: -13%;
}

.upper2 {
  left: 113%;
}

.forearm {
  height: 20px;
  width: 100px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
}

.forearm1 {
  top: 36%;
  left: -49%;
  transform: rotate(70deg);
}

.forearm2 {
  transform: rotate(70deg);
  top: 59%;
  left: 114%;
}

.hand {
  height: 60px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.hand1 {
  top: 19%;
  left: -38%;
}

.hand2 {
  top: 81%;
  left: 138%;
}