<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mr Potato?</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <div class="body">
      <div class="hat">
        <div class="hat-round"></div>
        <div class="hat-border"></div>
      </div>
      <div class="eye eye1">
        <div class="pupil pupil1">
          <div class="catchlight catchlight1"></div>
        </div>
      </div>
      <div class="eyebrow eyebrow1"></div>
      <div class="eye eye2">
          <div class="pupil pupil2">
              <div class="catchlight catchlight1"></div>
          </div>
      </div>
      <div class="eyebrow eyebrow2"></div>
      <div class="ear ear1"></div>
      <div class="ear ear2"></div>
      <div class="nose"></div>
      <div class="moustache"></div>
      <div class="mouth"></div>
      <div class="arm arm1">
        <div class="upper upper1"></div>
        <div class="forearm forearm1"></div>
        <div class="hand hand1">
          <div class="thumb thumb1"></div>
        </div>
      </div>
      <div class="arm arm2">
          <div class="upper upper2"></div>
          <div class="forearm forearm2"></div>
          <div class="hand hand2">
              <div class="thumb thumb2"></div>
          </div>
      </div>
      <div class="foot foot1"></div>
      <div class="foot foot2"></div>
    </div>
</body>
</html>
